html{
    scrollbar-width: auto;
    scrollbar-color: #f3d046 #eed07f;
}

::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #eed07f; 
  }
  ::-webkit-scrollbar-thumb {
    background: #ffc34c; 
    border-radius: 100vw;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #d69d2a; 
  }

body{
    font-size:17px;
    margin: 0;
    background-color: #f7e294;
    background: linear-gradient(135deg, #ffd78755 25%, transparent 25%) -12px 0/ 24px 24px, 
                linear-gradient(225deg, #ffd787 25%, transparent 25%) -12px 0/ 24px 24px, 
                linear-gradient(315deg, #ffd78755 25%, transparent 25%) 0px 0/ 24px 24px, 
                linear-gradient(45deg, #ffd787 25%, #f7e294 25%) 0px 0/ 24px 24px;
    font-family:Roboto, Arial;
    scrollbar-width: auto;
    scrollbar-color: #f3d046 #eed07f;
}

#tytul{
    text-align: center;
    padding: .6rem;
    background-color: #FBAB7E;
    background-image: linear-gradient(40deg, #ee8b49 0%, #e8c547 56%, #f7dad9 100%);
    background-position: left;
    text-shadow: 0px 0px 20px white;
    letter-spacing: 4px;
    font-weight: 500;
    font-size: 24px;
    font-style: italic;
    animation: animacja 6s infinite;
}

.menu{
    position:sticky;
    top:0;
    padding:  14px 0rem;
    margin-bottom: 60px;
    background-color: #ffbb49;
    background-image: linear-gradient(180deg, #ffbb49 0%, #ffcb70 15%,  #ffd18c 50%, #ffcb70 65%, #ffbb49 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #503001;
    border-width: 1px;
}

.menu a.a_1{
    margin: 0 0rem;
    font-size: 22px;
    font-weight: 500;
    transition: color .2s, text-shadow .2s, font-size .2s;
}

.menu a.a_1:hover{
    color:#ff501b;
    text-shadow: 2px 3px 7px rgba(81,67,21,0.5);
    font-size: 24px;
    font-weight: 700;
}

.rozwijanie a.a_1{
    margin: 0 0rem;
    padding: 1rem 0rem;
}

.menu a{
    margin: 0 .3rem;
    text-decoration: none;
    padding: 1rem .5rem;
    white-space: nowrap;
    color:black;
}

.menu a:visited{
    color:black;
}

.menu a.a_1:active{
    color:#a04d00;
}

.menu li li{
    font-size: 85%;
}

.rozwijanie{
    position: relative;
}

.rozwijanie ul{
    list-style-type: none;
    border-radius: 8px;
    padding: 0;
    left: -100px;
    top: 13px;
    display: none;
}

.rozwijanie ul.menu_1{
    width: 250px;
    text-align: center; 
    position: absolute;
    background: #ffd11a;
}

.rozwijanie ul li{
    padding: .5rem;
    transition: font-size .15s;
}
.rozwijanie ul li:hover{
    padding: .5rem;
    background: #e6b800;
    border-radius: 8px;
    font-size: 103%;
    font-weight: 500;
}
.rozwijanie ul.ul_1 li:hover{
    background: #ffa31a;
    font-size: 88%;
}

.rozwijanie a:focus + ul,
.rozwijanie a:hover + ul.menu_1,
.rozwijanie ul:hover{
    display: block;
}

.wnetrze{
    background-color: #ffffffa6;
    border-style: dotted;
    border-color: #6b3000;
    border-width: thick;
    border-radius: 70px;
    width: 64vw;
    padding: 18px 40px;
    margin: auto;
    margin-bottom: 50px;
}
section{
    width: 50vw;
    margin: 50px auto;
    padding: 2px 20px;
    background-color: rgba(255, 255, 255, 0.363);
    border-radius: 50px;
    box-shadow: 0 0 10px #00000011;
}
section a{
    color: rgb(173, 116, 10)
}
section a:visited{
    color: rgb(148, 58, 16)
}
section p,
.lista{
    font-size: 21px;
    text-align:justify;
    word-spacing:-1px;
    margin: 22px 22px;
}

footer{
    position: fixed;
    bottom: 0;
    background: #553b14f5;
    width: 100%;
    padding: 9px 0;
    text-align: center;
    color: #ffffb3;
    font-size: 12px;
    
}

footer a{
    text-decoration: none;
    color: #ffffff;
}

footer a:visited{
    text-decoration: none;
    color: #ffffff;
}

section h2{
    margin: 10px 0;
    font-size: 39px;
}

.formularz{
    width: 350px;
    text-align: right;
    font-size: 18px;
    line-height: 20px;
    border: 5px double rgb(66, 15, 0);
    border-radius: 16px;
    margin: 0 auto;
    padding: .4rem;
    background-color: #ffd7792c;
}
.formularz table td{
    height: 55px;
    width:  180px;
}
.formularz p{
    font-size: 28px;
    padding: 0px 0;
    line-height: 28px;
    text-align: center;
    font-style: italic;
    text-shadow: 2px 3px 4px rgba(110, 89, 18, 0.39);
}

input{
    border: 1px dashed rgb(92, 52, 0);
    border-radius: 6px;
    background-color: white;
}
input[type=radio]{
    accent-color: #ff5e00;
}

.ankieta{
    font-size: 25px;
    font-weight: 500;
    padding: 20px 10px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.568);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.541);
    text-align: center;

}

.galeria{
    display: flex;
    flex-wrap: wrap;
    padding: 18px 30px;
    justify-content: space-evenly;
}
.zdjecie{
    width: 340px;
    height: 285px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px 6px;
}
.zdjecie img{
    object-fit: cover;
    height: 240px;
    width: 320px;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    border: 1px solid;
    border-color: rgb(112, 112, 112);
    box-shadow: 4px 5px 10px#2b050070;
    transition: opacity .27s, width .27s, height .27s, border-color .27s, box-shadow .27s;
}
.zdjecie img:hover{
    opacity: 0.92;
    height: 252px;
    width: 336px;
    border-color: black;
    box-shadow: 0px 0px 20px#000000;
  
}
.opis{
    text-align: center;
    font-weight: 500;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}
h3{
    margin-left: 30px;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 400;
}

figure{
    text-align: center;
    margin: 0 auto;
}
.kursywa{
    font-style: italic;
}

@keyframes animacja {
    0%   {color: #290f00; letter-spacing: 4px;}
    17%  {color: #a30000; }
    33%  {color: #4d2200; }
    50%  {color: #975c03; letter-spacing: 6px;}
    67%  {color: #4b0000; }
    88%  {color: #6b3000; }
    100% {color: #290f00; letter-spacing: 4px;}
  }

@media (max-width: 800px) {
    .menu{
        flex-direction: column;
        padding:  1rem 0rem;
        position: static;
        font-size: 120%;
        padding-bottom: 1.5rem;
    }
    a.a_1{
        font-weight: 500;    
    }
    .wnetrze{
        width: 83vw;
        border-radius: 30px;
        padding: 13px 20px;
    }
    #kontakt{
        padding-bottom: 2.1rem;
    }
    .stopka{
        position: static;
        bottom: 0;
    }
    section{
        width: 77vw;
    }
    
}